.list-page {
  padding: 0 10px;
}

.list-page .categories {
  margin-bottom: 10px;
}

.list-page .posts .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.list-page .posts .controls select {
  margin-left: 10px;
}

.list-page .posts .controls button {
  margin-left: 10px;
}

.list-page .posts .content {
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
}
