.item-list {
  display: flex;
}

.item-list.item-list-vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-list.item-list-horizontal {
  flex-direction: row;
  align-items: center;
}